.title-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.header-label {
    -fx-font-size: 20px;
    -fx-padding: 10;
}

.card-label {
    -fx-font-size: 18px;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-padding: 5 10 5 10;
}

.highlight {
    -fx-text-fill: blue;
    -fx-font-weight: bold;
}
